<script type="text/javascript" src="/portal/media/js/jquery-1.3.2.js"></script>

<script language="javascript">
	function salvar() {
		url = "/portal/instancia/{{site}}/{{elemento}}/"+ $("#instancias option:selected").val() +"/{{ordem}}/save";
		document.location.href= url;
	}
</script>

<form>
	Favor selecione a instancia de {{ elemento }} e clique em salvar.
	<br>
	<select id="instancias">
		{%for instancia in instancias %}
			<option value="{{instancia.id}}">{{instancia.title}}</option>
		{% endfor%}
	</select>
	<br>
	<input type=button value="salvar" onclick="javascript:salvar();">
</form>
