
#menu {

}

#menu h2 {
	font-size:1.665em;
	letter-spacing:-0.05em;
	border-bottom:1px solid #E9E9E9;
	border-top:2px solid #DDDDDD;
	padding:0.2em 0 0.3em;
}


#menu ul {
	margin-bottom:0.5em;
}

#menu ul li {
	height: 20px;
	width: 100%;
	border-bottom:1px solid #E9E9E9;
	margin-top: 2px;
}

	


#menu ul li a {
	color:  #666;
	font-weight:bold;
	padding:0.25em 0px 0.25em 0px;
	zoom:1;
}

#menu ul li a:hover {color:#FFF;background-color:#006129;border-bottom-color:#006129;}



