<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br" dir="ltr">
	<head>
		<title>ego</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link type="text/css" href="/portal/media/css/ego.css" rel="stylesheet" media="screen" />
	</head>
	<body>
		<div id="glb-doc">
			<div id="glb-corpo">
				<div class="glb-bloco">
					<div class="glb-grid-12">
						blabal
					</div><!--glb-grid-12-->
				</div><!--glb-bloco-->
				<div class="glb-bloco">
					<div class="glb-grid-2">
						bla
					</div><!--glb-grid-1-->

					<div class="glb-grid-7">
						bla
					</div><!--glb-grid-1-->
					
					<div class="glb-grid-3">
						bla
					</div><!--glb-grid-11-->
				</div><!--glb-bloco-->
				
			</div><!--glb-corpo-->
			<div class="espacadorrodape"></div>
			<div id="glb-rodape">
				<div class="conteudo-rodape">
					bla
				</div><!--conteudo-rodape-->
			</div><!--glb-rodape-->
		</div><!--glb-doc-->
	</body>
</html>
